/* Splash Screen*/
.splash-root {
    -fx-background-color: #7A4F1E;
}

.splash-title {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.splash-subtitle {
    -fx-text-fill: #7FFF00;
    -fx-font-size: 24px;
}

.splash-loading {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Login / Register screens */
.login-root {
    -fx-background-color: #7A4F1E;
}

.login-title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.login-btn {
    -fx-background-color: #7FFF00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.error-label {
    -fx-text-fill: #FF4444;
    -fx-font-size: 13px;
}

/* Main Screen */
.main-root {
    -fx-background-color: #7A4F1E;
}

.main-menubar {
    -fx-background-color: #7A4F1E;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #7A4F1E;
}

.center-panel {
    -fx-background-color: white;
}

.input-panel {
    -fx-background-color: #7FFF00;
}

.main-btn {
    -fx-background-color: #7A4F1E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 230px;
}